body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#ccd5ae;
    font-family: 'Montserrat', sans-serif;

} 
.listMenu{
  
    width:400px;
    margin: 80 auto;
    background-color: #f8e8c2;
    box-shadow:10px 10px #cbd3b2;

}
.header{
    background-image: url("images/burger.png");
    background-size:cover;
    color:rgb(255, 252, 252);
    width:400px;
    height: 180px;
}
.content-header{
    padding: 20px;
    font-size: 12px;
 
}

.menuItems{
    display: flex;
    flex-direction: column;

}
.menu{
    border-bottom:2px solid #b8bea1;
    padding: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    height: 40px;
  
}
.order-content{
    display: flex;
    flex-direction: column;
    gap:5px;
    
}

.ingredients{
    font-size: 10px;
    color: #33352d;
    
}
.price{
    font-size: 12px;
    font-weight: 800;
}
.food-name{
    font-weight: 800;
}
i{
    font-size: 25px;
    color:rgb(53, 30, 14);
}
.logo{
    width: 20px;
    height: 20px;
    font-size: 30px;
}